/* #1c9ff2 - blue

#ff3fd8 - pink */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #000;
    --text-color: #1c9ff2;
    --main-color: #1781c3;
    --accent-color: #ff3fd8;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 2rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    z-index: 1000;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    color: var(--accent-color);
}

.navbar a{
    font-size: 1.9rem;
    margin-left: 4rem;
    display: flex;
    color: var(--text-color);
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--text-color);
    transform: scale(1.01);
}

#menu-icon {
    font-size: 3rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

/* home section code */

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: var(--main-color);
}

.home-img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 50%;
    animation: float 6s ease-in-out infinite;
    opacity: 0.8;
}

.home-img img:hover {
    transform: scale(1.05);
    opacity: 1;
}


@keyframes float {
    0% {transform: translateY(0px); }
    50% {transform: translateY(-10px); }
    100% {transform: translateY(0px); }
}
