@font-face {
  font-family: "Halloween Night", sans-serif;
  src: url("../fonts/HalloweenNight.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  font-family: "Halloween Night", sans-serif;
  background-color: rgb(14, 12, 11);
  color: rgb(228, 36, 36);
  overflow: hidden;
  letter-spacing: 1px;
  font-size: 1.8rem;
}

.title {
  font-family: "Halloween Night", sans-serif;
  font-weight: 600;
  font-size: 3 rem;
  margin: 0;
  filter: url(#goo);
  position: relative;
  color: rgb(141, 0, 0);
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 3px;
}

.drop {
  width: 0.1em;
  height: 0.1em;
  border-radius: 0 100% 100% 100%;
  background-color: currentColor;
  position: absolute;
  top: 20%;
  animation: drop 3s infinite both;
}

.drop:nth-child(2) {
  left: 14%;
}
.drop:nth-child(3) {
  left: 39%;
  animation-delay: -0.4s;
}
.drop:nth-child(4) {
  left: 55%;
  animation-delay: -1.5s;
}
.drop:nth-child(5) {
  left: 82%;
  animation-delay: -0.8s;
}
.drop:nth-child(6) {
  left: 95.5%;
  animation-delay: -1.3s;
}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(120%) scaleX(0.85) rotate(45deg);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  80%,
  100% {
    transform: translateY(60vh) scaleX(0.85) rotate(45deg);
    opacity: 0;
  }
}
